.brand-logo, .navigation{
    height: 40px;
}
.header{
    .header-container{
        @media(max-width: 1440px) {
            margin: 0 10% !important;
        }
        .header-wrapper{
            .brand-logo{
                .logo-text{

                }
            }
            .navigation{
                align-items: center;
                .menu{
                    ul{
                        align-items: center;
                        li{
                            .nav-links{
                                letter-spacing: 1.5px;
                            }
                        }
                    }
                }
                .header-cta{
                    .header-cta-btn{
                        background-color: rgb(79, 96, 255);
                        border-radius: 6px;
                    }
                }
            }
        }
    }
}