.cookiesContent{
    margin: 3% 8%;
    padding-top: 5%;
    .cookTitle{
        font-weight: 700;
    }
    .cookCont{
        font-size: 1.2rem;
        font-weight: 300;
        margin-top: 30px;
    }
}