.specialization{
    height: min-content;
    padding: 5% 0;
    background: var(--bg-color);
    .specWrapper{
        margin: 0 5%;
        @media(max-width: 480px){
            margin: 0 3%;
        }
        .specializationHeader{
            text-align: center;
            height: inherit;
            background: inherit;
            -webkit-background-clip: text;
                    background-clip: text;
            color: var(--color--white) !important;
            font: 900 8vmin/3rem cookie, cursive;
            mix-blend-mode: difference;
            @media(max-width: 480px){
                font-family: Apercu,source sans pro,system,system-ui,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif !important;
            }
        }
        .spectxts{
            font-size: .9rem;
            mix-blend-mode: difference;
        }
        .specCards{
            margin-top: 5%;
            width: 85%;
            margin-left: 10%;
            grid-template-columns: repeat(2, 1fr);
            gap: 1.5rem;
            justify-content: center;
            justify-items: center;
            @media(max-width: 480px){
                width: 100%;
                margin-left: 0 !important;
            }
            .specCrds{
                grid-column:span 1;
                height: auto;
                width: 100%;
                background: linear-gradient(45deg, #6E6BFF, #4A48B9);
                border-radius: 10px;
                padding: 20px;
                position: relative;
                background: linear-gradient(rgba(6, 0, 1, 0.8),rgba(6, 0, 77, 0.8)), url('../../assets/images/lady_coding.jpg');
                background-position: center, center;
                background-repeat: no-repeat;
                background-size: cover;
                // -webkit-mask-image: linear-gradient(270deg,#000,transparent);
                // mask-image: linear-gradient(270deg,#000,transparent);
                // transition: .5s;
                @media(max-width: 1000px){
                    grid-column:span 2;
                }
                .crdsTitle{
                    font-size: 1.7rem;
                    font-weight: 700;
                    line-height: 1.2 !important;
                    letter-spacing: 1.1px;
                    margin-top: 5px;
                    margin-bottom: 10px;
                    mix-blend-mode: difference;
                    height: inherit;
                    background: inherit;
                    -webkit-background-clip: text;
                            background-clip: text;
                    color: transparent;
                    font: 900 5vmin/3rem cookie, cursive;
                    filter: invert(1) grayscale(1) contrast(9);
                    @media(max-width: 480px){
                        font-family: Apercu,source sans pro,system,system-ui,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,Arial,sans-serif !important;
                    }
                }
                p{
                    font-size: 1rem;
                    margin-bottom: 50px;
                    mix-blend-mode: difference;
                }
                .specKnowMore{
                    position: absolute;
                    bottom: 15px;
                    left: 20px;
                    font-size: 0.8rem;
                    letter-spacing: 1.2;
                    padding: 10px 20px;
                    background-color: #ffa805d6;
                    border-radius: 6px;
                }
            }
        }
    }
}